{% load static %}
{% load tz %}  {# if you want to handle timezone display #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Texto en la pestaña -->
    <title>Libros</title>
    <!-- Vinculacion con el archivo css -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/mycss.css' %}">
    <!-- Vinculacion con el archivo js -->
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    <script src="{% static 'core/js/myjs.js' %}"></script>
    
</head>

<!--  -->

<body>
    <!-- Barra de navegacion -->
    {% include 'core/nav_bar.html' %}

    <!-- Listado de libros -->
    <!-- Editar para poner la informacion de los libros -->
    <div class="container mt-4">
        <h1 class="mb-4">Libros disponibles</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for libro in libros %}
            <div class="col">
                <div class="card h-100">

                    <!-- Imagen -->
                    {% if book.cover_url %}
                        <img class="card-img-top" src="{{ libro.imagen }}" alt="{{ libro.titulo }}">
                    {% else %}
                        <img class="card-img-top" src="{% static 'core/img/no_cover.png' %}" alt="Sin portada">
                    {% endif %}

                    <div class="card-body">
                        <!-- Título -->
                        <h5 class="card-title">{{ libro.titulo }}</h5>

                        <!-- Autor -->
                        <p class="card-text"><strong>Autor:</strong> {{ libro.autor }}</p>

                        <!-- ISBN -->
                        <p class="card-text"><strong>ISBN:</strong> {{ libro.isbn }}</p>

                        <!-- Botón ver más -->
                        <a href="{% url 'book_detail' libro.isbn %}">
                            <button class="btn btn-primary">Ver más</button>
                        </a>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
</html>