{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Texto en la pestaña -->
    <title>Pagina principal</title>
    <!-- Vinculacion con el archivo css -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/mycss.css' %}">
    <!-- Vinculacion con el archivo js -->
    <script src="{% static 'core/js/bootstrap.js' %}"></script>
    <script src="{% static 'core/js/myjs.js' %}"></script>
    
</head>

<body>
    <!-- Barra de navegacion -->
    {% include 'core/nav_bar.html' %}

    <!-- Cuerpo de la pagina -->
    <div class="evento_importante">
        <h1 id="titulo_evento">Orquesta clásica</h1>
        <div class="imagen_evento">
            <img src="{% static 'core/img/concierto_musica_clasica.png' %}" alt="Evento">
        </div>
        <div class="info_evento">
            <br>
            <h2>21 de Diciembre 2025 - 5PM</h2>
            <h4> En solo:
                <script>
                    timer(new Date("2025-12-21T17:00:00"))
                </script>
            </h4>
            <h4>¡No se pierdan este evento!</h4>
            <h4>En el Teatro Aula Magna de la Universidad Técnica Federico Santa María (Casa Central).</h4>
            <h5>3000 pesos la entrada.</h5>
        </div>
    </div>
    <!-- ---------------------------------------- -->
</body>

</html>